<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="DocumentFormat.OpenXml" />
      <package pattern="Markdig" />
      <package pattern="MinVer" />
      <package pattern="TextMateSharp" />
      <package pattern="TextMateSharp.Grammars" />
      <package pattern="xunit.v3.mtp-v2" />
      <package pattern="Microsoft.Testing.Extensions.*" />
      <package pattern="Microsoft.Testing.Platform" />
      <package pattern="coverlet.collector" />
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>